  .showTag {
      display: block !important;
  }

  .maaga {
      display: none;
  }

  /*
  body::-webkit-scrollbar-track,
  div::-webkit-scrollbar-track,
      {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }

 body::-webkit-scrollbar,
  div::-webkit-scrollbar {
      width: 8px;
      background-color: #F5F5F5;
  }

  body::-webkit-scrollbar-thumb,
  div::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #555;
  } */

  .currentLink {
      font-weight: bold;
  }

  .link-btn:hover,
  .link-btn:visited,
  .link-btn:active,
  .link-btn {
      text-decoration: none;
      cursor: pointer;
  }

  #lo-merchants .link-btn {
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .accordion-toggle {
      cursor: pointer;
      margin: 0;
  }

  .accordion-content {
      display: none;
      margin-bottom: 10px;
  }

  .accordion-content.default {
      display: block;
  }

  .navbar {
      margin-bottom: 0;
      border-radius: 0;
  }

  .ruru {
      font-size: 10px;
      text-indent: 10px;
  }

  .accordion-icon {
      margin-left: 5px;
  }

  .gaga,
  .ruru {
      display: block;
      margin-bottom: 5px;
  }

  .search-query {
      width: 100%;
      border: 1px solid black;
      font-size: 10px;
      height: 25px;
      padding: 10px;
      padding-right: 30px;
      border-radius: 25px;
      background-image: url("../images/search-light.png") no-repeat scroll 100% 7px;
      background-size: 10px;
  }

  .search-query::-webkit-input-placeholder {
      font-size: 10px;
  }

  #lo-merchants span:visited,
  .currentLink {
      text-decoration: none;
  }

  .sidenav-icon {
      margin-right: 5px;
  }

  #lo-merchants li {
      margin-bottom: 10px;
  }