@charset "UTF-8";
/*

Style   : MobApp CSS
Version : 1.0
Author  : My Book Qatar, Surjith S M
URI     : https://surjithctly.in/

Copyright © All rights Reserved 

*/

/*------------------------
[TABLE OF CONTENTS]
    
1. GLOBAL STYLES
2. NAVBAR
3. HERO
4. TABS
5. TESTIMONIALS
6. IMAGE GALLERY
7. PRICING
8. CALL TO ACTION
9. FOOTER

------------------------*/

/* GLOBAL
----------------------*/

.remove-box-shadow {
    box-shadow: none !important;
}

.remove-box-shadow:before {
    background-image: none !important;
}

.hideme {
    opacity: 0;
}

.text-align-center {
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #8f31a7;
}

a:hover,
a:focus {
    color: #00a098;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    color: #7e009e;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h3 {
    color: #7e009e;
    font-size: 33px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #7e009e;
}

h5 {
    font-size: 28px;
    font-weight: 300;
    color: #7e009e;
    margin-bottom: 0.7rem;
}

.large-text {
    font-size: 28px;
}

p {
    color: #5a5a5a;
}

p.lead {
    color: #e38cb7;
    margin-bottom: 2rem;
}

.text-primary {
    color: #00a098 !important;
}

a.text-primary:focus,
a.text-primary:hover {
    color: #8f31a7 !important;
}

.light-font {
    font-weight: 300;
}

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
}

.btn-outline-light:hover {
    color: #d6619c;
}

.btn-primary {
    border-radius: 3px;
    background-color: #8f31a7;
    background-image: -moz-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    background-image: -webkit-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    background-image: -ms-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    background-image: linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #7e009e;
    background-image: -moz-linear-gradient( 122deg, #8f31a7 0%, #7e009e 100%);
    background-image: -webkit-linear-gradient( 122deg, #8f31a7 0%, #7e009e 100%);
    background-image: -ms-linear-gradient( 122deg, #8f31a7 0%, #7e009e 100%);
    background-image: linear-gradient( 122deg, #8f31a7 0%, #7e009e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.btn-light {
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #7e009e;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

.light-bg {
    background-color: #f7fbfe;
}

.white-bg {
    background: #fff;
}

.sectionate {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #998a9b;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    .glooom {
        display: none;
    }
}

/* NAVBAR
----------------------*/

.nav-menu .nav-link {
    color: #000 !important;
}

.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

/* .nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: #7e009e;
    background-image: -moz-linear-gradient( 90deg, #7e009e 0%, #009790 100%);
    background-image: -webkit-linear-gradient( 90deg, #7e009e 0%, #009790 100%);
    background-image: -ms-linear-gradient( 90deg, #7e009e 0%, #009790 100%);
    background-image: linear-gradient( 90deg, #7e009e 0%, #009790 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
} */

.nav-menu {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid #cd99d4;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}

/* HERO
----------------------*/

header {
    padding: 80px 0 0;
    text-align: center;
    color: #fff;
}

.nav-gradient {
    /* background-color: #00a098;
    background-image: -moz-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -webkit-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -ms-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: linear-gradient( 90deg, #8f31a7 0%, #00a098 100%); */
    background-image: -webkit-gradient( linear, left bottom, right top, from(#8f31a7e3), color-stop(100%, #00a098d1))
}

.bg-gradient {
    background-color: #00a098;
    background-image: -moz-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -webkit-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -ms-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
}

.tagline {
    /* font-size: 23px; */
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
    .img-holder img {
        width: 85%;
        margin: 0 auto;
    }
    .nav-gradient .banner__video {
        width: 100%;
        /* height: auto;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover; */
    }
    #ourmerchants {
        /* height: 500px; */
        overflow: hidden;
    }
}

/* FEATURES
----------------------*/

.gradient-fill:before {
    color: #00a098;
    background-image: -moz-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -webkit-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -ms-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #fff;
}

.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #fff;
    color: #00a098;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -webkit-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -ms-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #fff;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
    position: relative;
    /* z-index: -1; */
    z-index: 1;
}

@media (min-width:992px) {
    .flip-image {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        max-width: 100% !important;
        float: none;
    }
    .perspective-phone {
        margin-top: -150px;
    }
    #numbers .margin-bottom-sm {
        /* padding-left: 20%; */
        margin-bottom: 40px;
    }
}

@media (max-width:991px) {
    .flip-image {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        max-width: 58% !important;
        float: right;
    }
    #numbers .margin-bottom-sm {
        padding-left: 20%;
        margin-bottom: 40px;
    }
}

/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #fff;
    font-size: 22px;
    color: #fff;
    background: #00a098;
}

.nav-tabs .nav-link.active {
    border-color: #8f31a7 #faf6fb #fff;
    border-top-width: 3px;
    font-size: 22px;
    color: #7e009e !important;
    background: #fff;
}

/*  TESTIMONIALS
----------------------*/

.owl-carousel .owl-item img.client-img {
    width: 110px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-single {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.blockquote {
    color: #7a767a;
    font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #e7d9eb;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff487e;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ff487e;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

/*  IMAGE GALLERY
----------------------*/

.img-gallery .owl-item {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    transform: scale(0.8);
    transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
    transform: scale(1);
}

/*  PRICING
----------------------*/

@media (max-width:992px) {
    .card-deck {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-deck .card {
        margin-bottom: 15px;
    }
}

h1,
h2,
h3 {
    letter-spacing: -1.5px;
}

.card.pricing {
    border: 1px solid #f1eef1;
}

.card.pricing.popular {
    border-top-width: 3px;
    border-color: #00a098 #faf6fb #fff;
    box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
    color: #7e009e;
}

.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px;
}

.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 300;
    color: #7e009e;
}

.card.pricing .card-head .price sub {
    bottom: 0;
    font-size: 55%;
}

.card.pricing .list-group-item {
    border: 0;
    text-align: center;
    color: #5a5a5a;
    padding: 1.05rem 1.25rem;
}

.card.pricing .list-group-item del {
    color: #d9d3d8;
}

.card.pricing .card-body {
    padding: 1.75rem;
}

/*  CALL TO ACTION
----------------------*/

.call-to-action {
    text-align: center;
    color: #fff;
    margin: 3rem 0;
}

.call-to-action .box-icon {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transform: scale(0.85);
    margin-bottom: 2.5rem;
}

.call-to-action h2 {
    color: #fff;
}

.call-to-action .tagline {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    max-width: 650px;
    margin: 0 auto;
}

.btn-light img {
    margin-right: 0.4rem;
    vertical-align: text-bottom;
}

/*  FOOTER
----------------------*/

.social-icons {
    text-align: right;
}

.social-icons a {
    background-color: #8f31a7;
    background-image: -moz-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    background-image: -webkit-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    background-image: -ms-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    background-image: linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #fff;
    transition: all 0.3s ease;
    padding-top: 9px;
}

.clear-float {
    clear: both;
}

.social-icons a:hover {
    text-decoration: none;
    background-color: #7e009e;
    background-image: -moz-linear-gradient( 122deg, #8f31a7 0%, #7e009e 100%);
    background-image: -webkit-linear-gradient( 122deg, #8f31a7 0%, #7e009e 100%);
    background-image: -ms-linear-gradient( 122deg, #8f31a7 0%, #7e009e 100%);
    background-image: linear-gradient( 122deg, #8f31a7 0%, #7e009e 100%);
    color: #fff;
}

@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

.module {
    position: relative;
}

#return-to-top {
    z-index: 1000;
    position: fixed;
    bottom: 30px;
    right: 100px;
    background: #00a098;
    background-image: -moz-linear-gradient( 122deg, #00a098 0%, #009790 100%);
    background-image: -webkit-linear-gradient( 122deg, #00a098 0%, #009790 100%);
    background-image: -ms-linear-gradient( 122deg, #00a098 0%, #009790 100%);
    background-image: linear-gradient( 122deg, #00a098 0%, #009790 100%);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 21px 0px #fff;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 24px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #009790;
    background-image: -moz-linear-gradient( 122deg, #009790 0%, #00a098 100%);
    background-image: -webkit-linear-gradient( 122deg, #009790 0%, #00a098 100%);
    background-image: -ms-linear-gradient( 122deg, #009790 0%, #00a098 100%);
    background-image: linear-gradient( 122deg, #009790 0%, #00a098 100%);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#mc-embedded-subscribe {
    border: 0;
    box-shadow: none;
}

.margin-bottom-sm {
    margin-bottom: 40px;
}

.white-text {
    color: white;
}

@media only screen and (max-width: 767px) {
    .section-header h2.title {
        font-size: 31.5px;
    }
}

.section-header {
    position: relative;
    margin-bottom: 60px;
}

.section-header .title {
    text-transform: capitalize;
}

/*------------------------------------*\
	Contact
\*------------------------------------*/

.contact {
    margin: 15px 0px;
    text-align: center;
}

#contact i {
    font-size: 36px;
    color: #00a098;
    background-image: -moz-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -webkit-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -ms-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    margin-top: 0 !important;
}

.contact-form .input {
    margin-bottom: 20px;
}

.contact-form .input:nth-child(1),
.contact-form .input:nth-child(2) {
    width: calc(50% - 10px);
}

.contact-form .input:nth-child(2) {
    margin-left: 15px;
}

.text-center .title:after {
    margin: 20px auto 0px;
}

@media only screen and (max-width: 480px) {
    .contact-form .input:nth-child(1),
    .contact-form .input:nth-child(2) {
        width: 100%;
    }
    .contact-form .input:nth-child(2) {
        margin-left: 0px;
    }
}

/* --  Input  -- */

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form input[type="number"],
.contact-form input[type="date"],
.contact-form input[type="url"],
.contact-form input[type="tel"],
.contact-form textarea {
    height: 40px;
    width: 100%;
    border: none;
    background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}

.contact-form textarea {
    padding: 10px 10px;
    min-height: 80px;
    resize: vertical;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="password"]:focus,
.contact-form input[type="number"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="url"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form textarea:focus {
    opacity: 1;
    outline: none !important;
    border-bottom: 2px solid #8f31a7;
}

/* --  Buttons  -- */

.main-btn,
.white-btn,
.outline-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-btn {
    background-color: #8f31a7;
    background-image: -moz-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    background-image: -webkit-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    background-image: -ms-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    background-image: linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    color: #FFF;
}

.white-btn {
    background: #FFF;
    color: #10161A !important;
}

.main-btn:hover,
.white-btn:hover,
.outline-btn:hover {
    opacity: 0.8;
}

.margin-auto {
    margin: 0 auto;
}

.btn-outline-light {
    color: #000;
    background-color: transparent;
    background-image: none;
    border-color: #000;
}

.btn-outline-light:hover {
    color: #fff;
    background-color: #000;
    background-image: none;
    border-color: #000;
}

.navbar {
    padding: 0;
}

.nav-menu {
    /* padding: 10px; */
    padding-bottom: 10px;
    padding-top: 0;
}

.headnav {
    /* padding: 10px; */
    padding-top: 10px;
}

#ourmerchants,
#contact {
    padding-bottom: 0;
}

#downloadapp .nav-link {
    color: #fff;
}

.large-size {
    font-size: 3em;
}

.submit-btn,
.email-input {
    font-family: 'Quicksand', sans-serif;
}

#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.my-5 {
    margin: 0 !important;
}

/* asas */

.component-form {
    text-align: center !important;
    margin-top: 40px !important;
    font-family: 'Quicksand', sans-serif;
}

.component-form .input {
    margin-bottom: 20px !important;
}

.component-form .input:nth-child(1),
.component-form .input:nth-child(2) {
    width: 100% !important;
}

.component-form .input:nth-child(2) {
    margin-left: 15px !important;
}

.text-center .title:after {
    margin: 20px auto 0px !important;
}

@media only screen and (max-width: 480px) {
    .component-form .input:nth-child(1),
    .component-form .input:nth-child(2) {
        width: 100% !important;
    }
    .component-form .input:nth-child(2) {
        margin-left: 0px !important;
    }
}

/* --  Input  -- */

.component-form input[type="text"],
.component-form input[type="email"],
.component-form input[type="password"],
.component-form input[type="number"],
.component-form input[type="date"],
.component-form input[type="url"],
.component-form input[type="tel"],
.component-form textarea {
    height: 40px !important;
    width: 100% !important;
    border: none !important;
    background: #F4F4F4 !important;
    border-bottom: 2px solid #EEE !important;
    color: #354052 !important;
    padding: 0px 10px !important;
    opacity: 0.5 !important;
    -webkit-transition: 0.2s border-color, 0.2s opacity !important;
    transition: 0.2s border-color, 0.2s opacity !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px !important;
}

.component-form textarea {
    padding: 10px 10px !important;
    min-height: 80px !important;
    resize: vertical !important;
}

.component-form input[type="text"]:focus,
.component-form input[type="email"]:focus,
.component-form input[type="password"]:focus,
.component-form input[type="number"]:focus,
.component-form input[type="date"]:focus,
.component-form input[type="url"]:focus,
.component-form input[type="tel"]:focus,
.component-form textarea:focus {
    opacity: 1 !important;
    outline: none !important;
    border-bottom: 2px solid #8f31a7 !important;
}

/* --  Buttons  -- */

.form-button,
#actionbutton {
    display: inline-block !important;
    padding: 10px 35px !important;
    margin: 3px !important;
    border: 2px solid transparent !important;
    border-radius: 3px !important;
    -webkit-transition: 0.2s opacity !important;
    transition: 0.2s opacity !important;
    background-color: #8f31a7 !important;
    background-image: -moz-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%) !important;
    background-image: -webkit-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%) !important;
    background-image: -ms-linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%) !important;
    background-image: linear-gradient( 122deg, #7e009e 0%, #8f31a7 100%) !important;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05) !important;
    color: #FFF !important;
    width: 200px !important;
    height: 40px !important;
    text-shadow: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px !important;
}

.form-button:hover {
    opacity: 0.8 !important;
}

.poweredby,
.disclaimer {
    display: none !important;
    visibility: hidden !important;
}

.input-label,
#page-component-5ekl1,
#page-component-2vqe3 {
    display: none !important;
}

.woobox-offer {
    max-width: 100% !important;
    height: 450px;
    overflow: hidden !important;
    margin: auto;
}

.page-component .input-group .inputs,
.vex .input-group .inputs {
    width: 100% !important;
}

.type-like,
.type-instagramfollow {
    width: 300px !important;
    text-align: left;
}

#page-container .footer {
    display: none !important;
    visibility: hidden !important;
}

.component-form {
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.text-align-left {
    text-align: left;
}

.float-left {
    float: left;
}

.margin-right-sm {
    margin-right: 10px;
}

.margin-btm-0 {
    margin-bottom: 0;
}

.margin-black {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    color: black;
}

.gradient {
    background-color: white;
    margin: 15px auto;
    /* margin-right: 30px;
    margin-bottom: 50px; */
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    border-radius: 16px;
    overflow: hidden;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.gradient:active,
.gradient.state-done-message-visible,
.gradient.state-copy-message-visible {
    box-shadow: 5px 12px 20px rgba(36, 37, 38, 0);
}

.gradient:hover {
    box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #8f31a7;
    background-image: -moz-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -webkit-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: -ms-linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    background-image: linear-gradient( 90deg, #8f31a7 0%, #00a098 100%);
    top: 0;
    bottom: 0;
    left: 0;
}

.card-text {
    font-size: 14px;
}

.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}

.no-padding {
    padding: 0;
}

.banner__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* opacity: .3; */
    z-index: -1;
}

.margin-0 {
    margin: 0;
}

#numbers img {
    height: 80px;
}

#numbers .rotate-left {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: 30px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-right: 5px;
}

.margin-left-7 {
    margin-left: 7px;
}

.margin-right-5 {
    margin-right: 5px;
}

.top-z-index {
    z-index: 999;
    position: inherit;
}

#aboutmybook .card-body {
    margin: 0 20px;
}

#aboutmybook .gradient {
    margin: 0 20px;
}

.gradient .card-title {
    color: #000;
    font-family: Quicksand, sans-serif;
    font-size: 20px;
}

.header_top .social_icon li a {
    font-size: 12px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    color: #000;
}

.header_top .top_btn a {
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #000;
}

.header_top a:hover {
    color: #000;
    text-decoration: none;
}

.header_top {
    background: #f5f5f5;
    padding-top: 2px;
    height: 35px;
}

.fufufu {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 30px !important;
    color: #000;
}

.bliim {
    padding-top: 15px;
}

.flflfl {
    padding-bottom: 15px;
    height: 300px !important;
}

.paddf {
    padding-bottom: 50px !important;
}

/* .widthvw {
    width: 100vw;
} */

.lalas {
    background-color: #e9eef1;
    display: inline;
    padding: .2em .6em .3em;
    line-height: 2;
    font-size: 75%;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/*wtf*/
*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul,
li {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

q:before,
q:after {
    content: ''
}

/* Global reset-RESET */

strong {
    font-weight: bold
}

em {
    font-style: italic
}

a img {
    border: none
}

